<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <header>
        <h1>Welcome to Your Profile</h1>
    </header>
    <section class="profile-info">
        <div id="profile-picture">
            <img src="/static/images/img/profile.jpeg" alt="Profile Picture">
        </div>
        <div id="user-details">
            <h2>User Information</h2>
            <p><strong>Username:</strong> {{username}}</p>
            <p><strong>Email:</strong> {{email}}</p>
            
        </div>
    </section>
    <button id="logout-button">Logout</button>
    <script src="/static/script/profile.js"></script>
</body>
</html>
